
<h1>Contacts</h1>

<div>
  <!-- Buttom -->
  <%= link_to "Add contacts", csv_imports_path %>
</div>
<div>
  <%= link_to "See invalid records", invalid_records_path %>
</div><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Phone</th>
      <th>Addres</th>
      <th>Credit card</th>
      <th>Franchise</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.date_of_birth %></td>
	<td><%= contact.phone %></td>
	<td><%= contact.address %></td>
	<td><%= contact.account_number %></td>
	<td><%= contact.franchise %></td>
	<td><%= contact.email %></td>
        <td><%= link_to 'Show', contact_path(contact) %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact_path(contact), method: :delete, data: {confirm: "Are you sure?"} %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
